* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
  
  

/* TOP NAV  */

.top-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}

.nav-bar {
  max-width: 1100px;
  margin: 24px auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-group {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: 100px;
}

.logo-group img {
  height: 30px;
}

.logo-group p {
  font-weight: 700;
  font-size: 18px;
  color: white;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 40px;
}

.nav-links a {
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  letter-spacing: 1px;
  font-size: 14px;
}

/* HERO SECTION (IMAGE PART) */

.hero {
  min-height: 100vh; /* fills first screen */
  padding-top: 140px; /* space under nav */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  /* big face background + gradient */
  background-image:url("CSS Advanced/Object.png"); 
  background-size: cover;
  background-position: center top;
}

/* center text column */

.hero-content {
  text-align: center;
  color: white;
}

.hero-content h1 {
  font-size: 72px;
  font-weight: 800;
  margin-bottom: 16px;
}

.hero-tags {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 28px;
}

.hero-tags span {
  font-size: 13px;
  letter-spacing: 3px;
}

.primary-btn {
  padding: 14px 34px;
  border-radius: 999px;
  border: none;
  background-color: #c271ff;
  color: #fff;
  font-weight: 600;
  font-size: 14px;
  cursor: pointer;
}

/* "Learn from the pros" row --------------------- */

.pros {
  margin-top: 150px;
  text-align: center;
  color: white;
}

.purple {
  color: #c271ff;
}

.pros h2 {
  font-size: 26px;
  font-weight: 600;
  margin-bottom: 40px;
}

.pros-grid {
  display: flex;
  justify-content: center;
  gap: 60px;
  flex-wrap: wrap;
}

.pro-card {
  max-width: 180px;
  text-align: center;
}

.pro-card img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 12px;
}

.pro-card h3 {
  font-size: 16px;
  margin-bottom: 6px;
}

.pro-card p {
  font-size: 12px;
  opacity: 0.85;
}

.quote {
    background-color: #C271FF;
    display: flex;
    padding: 100px;
    color: white;
    height: 393px; 
    justify-content: center;
}
.quote-content {
    
    padding: 20;
    align-content: center;
    margin-bottom: 50px;
    margin-left: 50px;


}

}